*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(240, 231, 222);
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.home h1{
    font-size: 100px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.main h2{
    text-align: center;
}
.main .h2{
    margin-left: 50px;
}
button {
    color: #3a3636;
    display: block;
    background-color: #4ECCA3;
    width: 20%;
    height: 75px;
    font-size: 2.5rem; 
    border-radius: 10px;
  }

